<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <error-page>
        <error-code>404</error-code>
        <location>/v2/items</location>
   </error-page>

   <filter>
    <filter-name>xsltHtmlFilter</filter-name>
    <filter-class>com.oreilly.javaxslt.util.StylesheetFilter</filter-class>
    <init-param>
      <param-name>xsltPath</param-name>
      <param-value>/WEB-INF/xslt/mods-to-html.xsl</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>xsltDCFilter</filter-name>
    <filter-class>com.oreilly.javaxslt.util.StylesheetFilter</filter-class>
    <init-param>
      <param-name>xsltPath</param-name>
      <param-value>/WEB-INF/xslt/MODS3-4_DC_XSLT2-0.xsl</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>application/xml</param-value>
    </init-param>
  </filter>

   <filter-mapping>
    <filter-name>xsltDCFilter</filter-name>
    <url-pattern>*.dc</url-pattern>
  </filter-mapping>

   <filter-mapping>
    <filter-name>xsltHtmlFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

<filter>
  <filter-class>edu.harvard.lib.lcloud.JsonpFilter</filter-class>
  <filter-name>JsonpFilter</filter-name>
</filter>
  
<filter-mapping>
  <filter-name>JsonpFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

   <servlet>
       <servlet-name>LibraryCloudAPI</servlet-name>
       <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
       <init-param>
           <param-name>jersey.config.server.provider.packages</param-name>
           <param-value>edu.harvard.lib.lcloud;gov.loc.mods.v3</param-value>
       </init-param>
       
       <init-param>
            <param-name>javax.ws.rs.container.ContainerResponseFilter</param-name>
            <param-value>edu.harvard.lib.lcloud.CORSResponseFilter</param-value>
        </init-param>
       
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>LibraryCloudAPI</servlet-name>
       <url-pattern>/*</url-pattern>
   </servlet-mapping>
   
</web-app>
